.buttons-container {
  display: grid;
  justify-content: space-around;
  gap: 2rem;
  button {
    text-transform: uppercase;
    padding: 0.3rem 1rem;
    border-radius: 2rem;
    background-color: var(--background);
    color: var(--blue);
    border: 0.1rem solid var(--blue);
    font-weight: bolder;
    transition: var(--transition);
    &:hover {
      background-color: var(--dark-blue);
      color: var(--background);
      border-color: var(--background);
    }
  }
}
